  <section class="mb-16 flex justify-center items-center">
    <div class="max-w-4xl ml-0 p-4 pb-2 border border-gray-00 rounded-lg shadow-lg relative flex items-center gap-6 h-72">
        {{ $heroImage := resources.Get .Site.Params.profileImage }}
        <img
          src="{{ $heroImage.Permalink }}"
          alt="Hero Image"
          class="w-36 h-45 rounded-lg border border-gray-00 shadow-lg hidden sm:block"
        />
        <div class="text-left">
          <h1 class="text-4xl font-bold mb-2">{{ .Site.Params.name }}</h1>
          <p class="text-gray-400 mb-3 flex items-center text-xl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="-7 -2 24 24"
            >
              <path
                fill="#f2e5bc"
                d="M4 9.9A5.002 5.002 0 0 1 5 0a5 5 0 0 1 1 9.9V19a1 1 0 0 1-2 0V9.9zM5 8a3 3 0 1 0 0-6a3 3 0 0 0 0 6z"
              />
            </svg>
            {{ .Site.Params.location }}
          </p>
          <p class="text-xl mb-6">{{ .Site.Params.description }}</p>
        </div>
     
      <div
        class="mt-8 md:mt-0 flex flex-wrap justify-center gap-3 md:absolute md:top-4 md:right-4 md:flex-nowrap md:justify-end md:mt-0"
      >

          {{ with .Site.Params.cv }}
          <a
            href="{{ . }}"
            class="p-2 rounded-md border border-gray-700 hover:border-gray-500 transition-all flex justify-center items-center"
          >
            <i class="ti ti-file-cv-filled text-4xl"></i>
          </a>
          {{ end }}

          {{ with .Site.Params.email }}
          <a
            href="mailto:{{ . }}"
            class="p-2 rounded-md border border-gray-700 hover:border-gray-500 transition-all flex justify-center items-center"
          >
            <i class="ti ti-mail-filled text-4xl"></i>
          </a>
          {{ end }}

        {{ with .Site.Params.github }}
        <a
          href="{{ . }}"
          class="p-2 rounded-md border border-gray-700 hover:border-gray-500 transition-all flex justify-center items-center"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="si si-github text-4xl"></i>
        </a>
        {{ end }}


          {{ with .Site.Params.linkedin }}
          <a
            href="{{ . }}"
            class="p-2 rounded-md border border-gray-700 hover:border-gray-500 transition-all flex justify-center items-center"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="devicon-linkedin-plain text-4xl"></i>
          </a>
          {{ end }}
      </div>
    </div>
  </section>
