{{ with .Site.Params.cv }}
<a
  href="{{ . }}"
  class="p-2 rounded-md border-2 bg-[#458588] border-[#83a598] text-[#ebdbb2] hover:bg-[#83a598] hover:text-[#282828] transition-transform transform hover:scale-110 flex justify-center items-center"
>
  <i class="ti ti-file-cv-filled text-4xl"></i>
</a>
{{ end }}

{{ with .Site.Params.email }}
<a
  href="mailto:{{ . }}"
  class="p-2 rounded-md border-2 bg-[#458588] border-[#83a598] text-[#ebdbb2] hover:bg-[#83a598] hover:text-[#282828] transition-transform transform hover:scale-110 flex justify-center items-center"
>
  <i class="ti ti-mail-filled text-4xl"></i>
</a>
{{ end }}

{{ with .Site.Params.github }}
<a
  href="{{ . }}"
  class="p-2 rounded-md border-2 bg-[#458588] border-[#83a598] text-[#ebdbb2] hover:bg-[#83a598] hover:text-[#282828] transition-transform transform hover:scale-110 flex justify-center items-center"
  target="_blank"
  rel="noopener noreferrer"
>
  <i class="si si-github text-4xl"></i>
</a>
{{ end }}

{{ with .Site.Params.linkedin }}
<a
  href="{{ . }}"
  class="p-2 rounded-md border-2 bg-[#458588] border-[#83a598] text-[#ebdbb2] hover:bg-[#83a598] hover:text-[#282828] transition-transform transform hover:scale-110 flex justify-center items-center"
  target="_blank"
  rel="noopener noreferrer"
>
  <i class="devicon-linkedin-plain text-4xl"></i>
</a>
{{ end }}
