  <section class="fade-in delay-1 opacity-0 bg-[#1d2021] bg-opacity-90 rounded-lg p-8">
    <h2 class="text-4xl font-bold mb-2 relative flex items-center"><i class="ti ti-tool mr-2"></i> What I work with</h2>
    <div class="tech-carousel">
      <div class="carousel-container">
        <div class="carousel-track">
          {{ $context := .Site.Params.techStack }}
          {{ range $i := seq 1 $context.forwardTotalSets }}
            {{ range $context.forward }}
              <div class="carousel-item">
                <i class="{{ .icon }}"></i>
                <span class="text-xl">{{ .name }}</span>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="carousel-container -mt-1">
        <div class="carousel-track-reverse">
          {{ $context := .Site.Params.techStack }}
          {{ range $i := seq 1 $context.reverseTotalSets }}
            {{ range $context.reverse }}
              <div class="carousel-item">
                <i class="{{ .icon }}"></i>
                <span class="text-xl">{{ .name }}</span>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
