  <section class="mb-20">
    <h2 class="text-4xl font-bold mb-2 relative">What I work with</h2>
    <div class="tech-carousel">
      <div class="carousel-container">
        <div class="carousel-track">
          {{ $context := .Site.Params.techStack }}
          {{ range $i := seq 1 $context.forwardTotalSets }}
            {{ range $context.forward }}
              <div class="carousel-item">
                <i class="{{ .icon }}"></i>
                <span class="text-xl">{{ .name }}</span>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="carousel-container -mt-1">
        <div class="carousel-track-reverse">
          {{ $context := .Site.Params.techStack }}
          {{ range $i := seq 1 $context.reverseTotalSets }}
            {{ range $context.reverse }}
              <div class="carousel-item">
                <i class="{{ .icon }}"></i>
                <span class="text-xl">{{ .name }}</span>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="text-4xl font-bold mb-5">Experience</h2>
    <div class="space-y-8 max-w-3xl mx-auto">
      {{ range $index, $exp := .Site.Params.experience }}
      <div
        class="relative pl-8 before:content-[''] before:absolute before:left-0 before:top-0 before:w-[2px] before:h-full before:bg-gray-700 before:rounded-full"
      >
        {{ if eq .company "Open Source Contributor" }}
        <div
          class="absolute -left-1.5 top-0 w-3 h-3 bg-[#121212] border border-blue-400 rounded-full"
        ></div>
        {{ else }}
        <div
          class="absolute -left-1.5 top-0 w-2 h-2 bg-gray-700 rounded-full"
        ></div>
        {{ end }}
        <h3 class="text-gray-400 text-xl">{{ .company }}</h3>
        <p class="text-2xl font-semibold">{{ .role }}</p>
        <p class="text-gray-400 text-sm">{{ .period }}</p>
        <p class="mt-2">{{ .description }}</p>
      </div>
      {{ end }}
    </div>
  </section>
